---
import type { GetStaticPaths } from 'astro';
import { blogListRobots, fetchPosts } from '~/utils/blog';
import { BLOG_BASE } from '~/utils/permalinks';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';

export const getStaticPaths = (async () => {
  return [
    {
      params: { blog: BLOG_BASE || undefined },
    },
  ];
}) satisfies GetStaticPaths;

const posts = await fetchPosts();

const metadata = {
  title: 'Messages et actualités — Foyer de Charité Dents-du-Midi',
  robots: {
    index: blogListRobots?.index,
    follow: blogListRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="Les messages du Père Guy Luisier et les actualités du Foyer de Charité Dents-du-Midi."
    >
      Messages et actualités
    </Headline>
    <BlogList posts={posts} />
  </section>
</Layout>
