---
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap">
  <span class="text-primary-600">Foyer</span> <span class="text-accent-400">Dents-du-Midi</span>
</span>
